# Machine Learning on house price data to prediect house prices

we are going to perform the moduling on house price data set,in this we have multiple paramaters who can help us to predict the price of that specific house

## Import the required libary

In [3]:
# import numerical python 
import numpy as np 

# import the pandas
import pandas as pd

# import the seaborn
import seaborn as sns

#import the matplotlib

import matplotlib.pyplot as plt

### Data overview

In [5]:
# load the data 
df_house_price=pd.read_csv('House_Price1.csv')

In [6]:
# show the first five observation of the data 
df_house_price.head()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0

In [7]:
# show the last five observation of the data
df_house_price.tail()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,Sold
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,1

In [8]:
# show the shape of the data 
df_house_price.shape

(506, 15)

In [9]:
# show the basic statistics of the data
df_house_price.describe()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,Sold
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,498.000000,506.000000,506.000000,506.000000
mean,22.528854,41.136779,0.554695,6.284634,68.574901,3.971996,21.544466,12.653063,7.899767,13.041605,39.181818,0.454545
std,9.182176,6.860353,0.115878,0.702617,28.148861,2.108532,2.164946,7.141062,1.476683,5.238957,12.513697,0.498422
min,5.000000,30.460000,0.385000,3.561000,2.900000,1.130000,18.000000,1.730000,5.268000,10.057600,3.000000,0.000000
25%,17.025000,35.190000,0.449000,5.885500,45.025000,2.270000,19.800000,6.950000,6.634500,11.189800,28.000000,0.000000
50%,21.200000,39.690000,0.538000,6.208500,77.500000,3.385000,20.950000,11.360000,7.999000,12.720000,39.000000,0.000000
75%,25.000000,48.100000,0.624000,6.623500,94.075000,5.367500,22.600000,16.955000,9.088000,14.170800,50.000000,1.000000
max,50.000000,57.740000,0.871000,8.780000,100.000000,12.320000,27.400000,37.970000,10.876000,101.120000,60.000000,1.000000

In [10]:
# show the basic informations of the data
df_house_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   distance     506 non-null    float64
 6   teachers     506 non-null    float64
 7   poor_prop    506 non-null    float64
 8   airport      506 non-null    object
 9   n_hos_beds   498 non-null    float64
 10  n_hot_rooms  506 non-null    float64
 11  waterbody    351 non-null    object
 12  rainfall     506 non-null    int64
 13  bus_ter      506 non-null    object
 14  Sold         506 non-null    int64
dtypes: float64(10), int64(2), object(3)
memory usage: 59.4+ KB

# interpretation
 - we have 506 observation and 15 attributes
 - we have age column which contain the outlier

## Data pre-processing

In [12]:
# lets perform the data cleaning 
df_house_price.columns

Index(['price', 'resid_area', 'air_qual', 'room_num', 'age', 'distance',
       'teachers', 'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms',
       'waterbody', 'rainfall', 'bus_ter', 'Sold'],
      dtype='object')

In [13]:
dictionary={
    'price':'Price',
    'resid_area':'Residental_Area',
    'air_qual':'Air_Quality',
     'room_num':'Room_Number',
     'age': 'Age',
     'distance': 'Distance',
      'teachers':'Teacher',
     'poor_prop':'Poor_prop',
    'airport':'Airport',
   'n_hos_beds': 'N_Hos_Beds',
    'n_hot_rooms': 'N_Hot_Rooms',
    'waterbody':'Waterbody',
    'rainfall': 'Rainfall',
    'bus_ter':'bus_ter',
    'Sold':'Sold',
    
    
    
    
    
     
   
}

In [14]:
# perform the rename action 
df_house_price=df_house_price.rename(columns=dictionary)

In [15]:
# do the authentic check 
df_house_price.columns

Index(['price', 'Residental_Area', 'Air_Quality', 'Room_Number', 'Age',
       'Distance', 'Teacher', 'Poor_prop', 'Airport', 'N_Hos_Beds',
       'N_Hot_Rooms', 'Waterbody', 'Rainfall', 'bus_ter', 'Sold'],
      dtype='object')

### Null value handling

In [17]:
# find the number of missing records
df_house_price.isnull().sum()

price                0
Residental_Area      0
Air_Quality          0
Room_Number          0
Age                  0
Distance             0
Teacher              0
Poor_prop            0
Airport              0
N_Hos_Beds           8
N_Hot_Rooms          0
Waterbody          155
Rainfall             0
bus_ter              0
Sold                 0
dtype: int64

In [18]:
# find the percentage
df_house_price.isnull().sum()/len(df_house_price)*100

price               0.000000
Residental_Area     0.000000
Air_Quality         0.000000
Room_Number         0.000000
Age                 0.000000
Distance            0.000000
Teacher             0.000000
Poor_prop           0.000000
Airport             0.000000
N_Hos_Beds          1.581028
N_Hot_Rooms         0.000000
Waterbody          30.632411
Rainfall            0.000000
bus_ter             0.000000
Sold                0.000000
dtype: float64

In [19]:
# find the mode on water body column
df_house_price.Waterbody.mode()

0    River
Name: Waterbody, dtype: object

In [20]:
# lets treate the null values in the waterbody column        
df_house_price.Waterbody.fillna('River',inplace=True)

In [21]:
# Do the authentic check
df_house_price.isnull().sum()

price              0
Residental_Area    0
Air_Quality        0
Room_Number        0
Age                0
Distance           0
Teacher            0
Poor_prop          0
Airport            0
N_Hos_Beds         8
N_Hot_Rooms        0
Waterbody          0
Rainfall           0
bus_ter            0
Sold               0
dtype: int64

In [22]:
# In N_Hos_Beds , we have less than 10% of data missing
df_house_price.dropna(inplace=True)

In [23]:
# Do the authentic check
df_house_price.isnull().sum()

price              0
Residental_Area    0
Air_Quality        0
Room_Number        0
Age                0
Distance           0
Teacher            0
Poor_prop          0
Airport            0
N_Hos_Beds         0
N_Hot_Rooms        0
Waterbody          0
Rainfall           0
bus_ter            0
Sold               0
dtype: int64

In [24]:
df_house_price.shape

(498, 15)

In [25]:
# store the target variable
df_target =df_house_price['price']
df_feature=df_house_price.drop('price', axis=1)

In [26]:
df_feature.shape

(498, 14)

In [27]:
# segregate the data based on the datatype
df_num=df_feature.select_dtypes(include='number')
df_cat=df_feature.select_dtypes(include='object')

In [28]:
#show the numerical data
df_num.head()

,Residental_Area,Air_Quality,Room_Number,Age,Distance,Teacher,Poor_prop,N_Hos_Beds,N_Hot_Rooms,Rainfall,Sold
0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,5.480,11.1920,23,0
1,37.07,0.469,6.421,78.9,4.99,22.2,9.14,7.332,12.1728,42,1
2,37.07,0.469,7.185,61.1,5.03,22.2,4.03,7.394,101.1200,38,0
3,32.18,0.458,6.998,45.8,6.21,21.3,2.94,9.268,11.2672,45,0
4,32.18,0.458,7.147,54.2,6.16,21.3,5.33,8.824,11.2896,55,0

In [29]:
df_num.shape

(498, 11)

In [30]:
#show the categoricaldata
df_cat.head()

  Airport Waterbody bus_ter
0     YES     River     YES
1      NO      Lake     YES
2      NO     River     YES
3     YES      Lake     YES
4      NO      Lake     YES

### Perform encoding or categroical variable

In [32]:
# use dummy encoding
df_encoded=pd.get_dummies(df_cat)
# reset the index
df_enocded=df_encoded.reset_index()

In [33]:
# show the encoded data
df_encoded.head()

,Airport_NO,Airport_YES,Waterbody_Lake,Waterbody_Lake and River,Waterbody_River,bus_ter_YES
0,False,True,False,False,True,True
1,True,False,True,False,False,True
2,True,False,False,False,True,True
3,False,True,True,False,False,True
4,True,False,True,False,False,True

In [34]:
df_encoded.shape

(498, 6)

### Perform scaling on numberical data

In [36]:
# import the standard scalar
from sklearn.preprocessing import StandardScaler

# initate the standard scalar
ss=StandardScaler()

# scaled the value present in numerical data frame
scale=ss.fit_transform(df_num)

# numerate the data into the data frame
scaled_df=pd.DataFrame(scale,columns=df_num.columns)

#reset the index
scaled_df=scaled_df.reset_index()

In [37]:
scaled_df.shape

(498, 12)

In [38]:
df_encoded.shape

(498, 6)

In [39]:
X = pd.concat([df_encoded,scaled_df],axis=1)

In [40]:
X.shape

(506, 18)

In [41]:
X = X.dropna()

In [42]:
X.shape

(490, 18)

### Perform the concatenate operation

In [44]:
# concate encoded variable and scalar variable and scaled variable
df_independent=pd.concat([df_encoded,scaled_df],axis=1)

In [45]:
#show the data
df_independent.head()

,Airport_NO,Airport_YES,Waterbody_Lake,Waterbody_Lake and River,Waterbody_River,bus_ter_YES,index,Residental_Area,Air_Quality,Room_Number,Age,Distance,Teacher,Poor_prop,N_Hos_Beds,N_Hot_Rooms,Rainfall,Sold
0,False,True,False,False,True,True,0.0,-1.282444,-0.137094,0.408975,-0.115644,0.172845,1.462167,-1.066368,-1.640299,-0.352111,-1.302068,-0.911527
1,True,False,True,False,False,True,1.0,-0.590059,-0.733195,0.189974,0.369741,0.476100,0.304963,-0.484136,-0.384875,-0.166019,0.215194,1.097060
2,True,False,False,False,True,True,2.0,-0.590059,-0.733195,1.276446,-0.260905,0.495053,0.304963,-1.199330,-0.342847,16.710340,-0.104230,-0.911527
3,False,True,True,False,False,True,3.0,-1.301354,-0.828226,1.010516,-0.802977,1.054179,-0.111631,-1.351886,0.927490,-0.337843,0.454762,-0.911527
4,True,False,True,False,False,True,4.0,-1.301354,-0.828226,1.222407,-0.505369,1.030487,-0.111631,-1.017382,0.626514,-0.333593,1.253320,-0.911527

In [46]:
df_target.shape

(498,)

In [47]:
df_independent.shape

(506, 18)

## Split the dat for training and testing

In [49]:
# import the train test split
from sklearn.model_selection import train_test_split

In [50]:
encoding = pd.get_dummies(df_cat)
encoding = encoding.reset_index()
encoding.shape

(498, 7)

In [51]:
scalled = ss.fit_transform(df_num)

df_111 = pd.DataFrame(scalled,columns=df_num.columns)

df_scalled = df_111.reset_index()
df_scalled.shape

(498, 12)

In [52]:
concat = pd.concat([encoding,df_scalled],axis=1)

In [53]:
concat.shape

(498, 19)

In [70]:
#split the data
x_train,x_test,y_train,y_test=train_test_split(df_independent,df_target,test_size=0.2)

ValueError: Found input variables with inconsistent numbers of samples: [506, 498]

# Applied linear regrection

In [55]:
# import the model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [56]:
# initate the model
LR=LinearRegression()

In [57]:
# train the linear regression model
model_lr=LR.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [66]:
# perform the predection
predicted=model_lr.predict(x_test)

NameError: name 'model_lr' is not defined