In [1]:
# import numerical python 
import numpy as np 

# import the pandas
import pandas as pd

# import the seaborn
import seaborn as sns

#import the matplotlib

import matplotlib.pyplot as plt

In [2]:
# load the data 
df_house_price=pd.read_csv('House_Price1.csv')

In [3]:
# show the first five observation of the data 
df_house_price.head()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0

In [4]:
dictionary={
    'price':'Price',
    'resid_area':'Residental_Area',
    'air_qual':'Air_Quality',
     'room_num':'Room_Number',
     'age': 'Age',
     'distance': 'Distance',
      'teachers':'Teacher',
     'poor_prop':'Poor_prop',
    'airport':'Airport',
   'n_hos_beds': 'N_Hos_Beds',
    'n_hot_rooms': 'N_Hot_Rooms',
    'waterbody':'Waterbody',
    'rainfall': 'Rainfall',
    'bus_ter':'bus_ter',
    'Sold':'Sold',
    
    
    
    
    
     
   
}

In [5]:
# perform the rename action 
df_house_price=df_house_price.rename(columns=dictionary)

In [6]:
# lets treate the null values in the waterbody column        
df_house_price.Waterbody.fillna('River',inplace=True)

In [7]:
# In N_Hos_Beds , we have less than 10% of data missing
df_house_price.dropna(inplace=True)

In [8]:
# store the target variable
df_target =df_house_price['Sold']
df_feature=df_house_price.drop('Sold', axis=1)

In [9]:
## segregate the data based on the datatype
df_num=df_feature.select_dtypes(include='number')
df_cat=df_feature.select_dtypes(include='object')

In [10]:
# use dummy encoding
df_encoded=pd.get_dummies(df_cat)
# reset the index
df_enocded=df_encoded.reset_index()

In [11]:
# import the standard scalar
from sklearn.preprocessing import StandardScaler

# initate the standard scalar
ss=StandardScaler()

In [12]:
# scaled the value present in numerical data frame
scaled=ss.fit_transform(df_num)

In [13]:
# numerate the data into the data frame
scaled_df=pd.DataFrame(scaled,columns=df_num.columns)

In [14]:
#reset the index
scaled_df=scaled_df.reset_index()

In [15]:
# import the train test split
from sklearn.model_selection import train_test_split

In [18]:
# concodinate encoded variable and scaled variable
df_independent=pd.concat([df_encoded,scaled_df],axis=1)

In [20]:
encoding = pd.get_dummies(df_cat)
encoding = encoding.reset_index()
encoding.shape

(498, 7)

In [22]:
scalled = ss.fit_transform(df_num)

df_111 = pd.DataFrame(scalled,columns=df_num.columns)

df_scalled = df_111.reset_index()
df_scalled.shape

(498, 12)

In [24]:
concat = pd.concat([encoding,df_scalled],axis=1)

In [26]:
concat.shape

(498, 19)

In [28]:
#split the data
x_train,x_test,y_train,y_test=train_test_split(concat,df_target,test_size=0.2)

In [30]:
# import the model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [32]:
#create a decision tree classification
tree_model=DecisionTreeClassifier()

#fit the model to the training data
tree_model.fit(x_train,y_train)

# predict on the testing data
predictions=tree_model.predict(x_test)

#calculate the classification_report
class_report = classification_report(y_test,predictions)
print(class_report)

              precision    recall  f1-score   support

           0       0.65      0.68      0.67        57
           1       0.55      0.51      0.53        43

    accuracy                           0.61       100
   macro avg       0.60      0.60      0.60       100
weighted avg       0.61      0.61      0.61       100